{% extends 'base.html' %} 
{% load static %}
{% load mathfilters %} 
{% block head %}
<link rel="stylesheet" href="" />
{% endblock %} 
{% block content %}

<div class='watchlist-head'>
    <h2>{{ watchlist.name }}</h2>
    <div>
        <a href="{% url "watchlist-update" watchlist.id %}" class="btn warn">Edit Name</a>
        <a href="{% url "watchlist-delete" watchlist.id %}" class="btn danger">Delete Watchlist</a>
    </div>
</div>

<div class='game-list'>
    {% for game in watchlist.games.all %}
        <div class='card'>
            <div class='card-content'>
                <h1>{{ game.name }}</h1>
                <img src="{{ game.thumb_nail }}" alt="{{ game.name }} logo">
                <p>$ {{ game.price|div:100 }}</p>
            </div>
        </div>
    {% endfor %}
</div>

</div>
{% endblock %}