{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Game Watchlist</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
      <div class="header-logo-container">
        <a href="/">
            Game Watchlist
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
                <li><a href="{% url 'watchlist-index' %}">All Watchlists</a></li>
                <li><a href="{% url 'watchlist-create' %}">Add a Watchlist</a></li>
                <form id='logout-form' method='post' action="{% url "logout" %}">
                    {% csrf_token %}
                    <button type='submit' >Log out</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url "signup" %}">Sign up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
</body>
</html>