{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

<h1>Search Games</h1>
<form action="{% url 'game-list' %}" method="GET">
  <label for="query">Game search</label>
  <input id="query" name="query" type="text" required />
  <button type="submit">Search</button>
</form>

{% if search_data %}
  <h2>Result</h2>
  <pre>{{ search_data|safe }}</pre>
  <ul>
    {% for game in search_data %}
        <li>
            <img src="{{game.tiny_image}}" alt="{{game.name}} logo">
            <p>{{game.name}}</p>
            <p>$ {{ game.price.initial|div:100 }}</p>
            <p>$ {{ game.price.final|div:100 }}</p>
        </li>
    {% endfor %}
  </ul>

{% endif %}

{% endblock %}