{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

<h1>Search Games</h1>
<form action="{% url 'game-list' %}" method="GET">
  <label for="query">Game search</label>
  <input id="query" name="query" type="text" required />
  <button type="submit">Search</button>
</form>

{% if search_data %}
  <h2>Result</h2>
  <pre>{{ search_data|safe }}</pre>
  <pre><br>{{ watchlists|safe }}</pre>
  <ul>
    {% for game in search_data.items %}
        <li>
            <img src="{{game.tiny_image}}" alt="{{game.name}} logo">
            <p>{{game.name}}</p>
            {% if not game.price %}
              <p>Free</p>
            {% elif game.price.final == game.price.initial %}
              <p>$ {{ game.price.final|div:100 }}</p>
            {% else %}
              <p>$ {{ game.price.initial|div:100 }}</p>
              <p>$ {{ game.price.final|div:100 }}</p>
            {% endif %}
            {% if user.is_authenticated %}
            <form action="{% url "add-game" game.id %}" method='post' class='add-form' >
                {% csrf_token %}
                <select name="watchlist" id="watchlist" >
                  <option hidden disabled selected value >--Select a Watchlist--</option>
                  {% for watchlist in watchlists %}
                    <option value="{{watchlist.id}}">{{watchlist.name}}</option>
                  {% endfor %}
                </select>
                <button type='submit' class='btn submit' disabled>Add</button>
            </form>
            {% endif %}
        </li>
    {% endfor %}
  </ul>

{% endif %}

<script type="text/javascript">
  const forms = document.querySelectorAll('.add-form')
  forms.forEach(form => {
    const btn = form.children[2]
    const select = form.children[1]
    select.addEventListener('change', (e) => {
      if (btn.hasAttribute('disabled')) {
        btn.toggleAttribute('disabled', false)
      }
    })
  })
</script>

{% endblock %}