html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: #2A475E;
    color: #CCD8E3;
    --background: #2A475E;
    --cardbg: #1B2838;
    --borders: black solid 2px;
    --text-color: #CCD8E3;
    --link-hover-color: white;
    --button-bg-hover: #CCD8E3;
    --card-box-shadow: 5px 5px 6px -1px #322;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
}

header {
    width: 100%;
    background-color: var(--cardbg);
}

nav {
    margin: 10px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

main {
    width: 100%;
    padding: 0 10px;
}

h2 {
    font-size: var(--font-xl);
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

nav a:hover {
    color: var(--link-hover-color);   
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    padding: 5px 8px;
}

#logout-form button {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
}

#logout-form button:hover {
    color: var(--link-hover-color);
}

.header-logo-container {
    margin: auto;
    max-width: 500px;
}

.header-logo-container a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

.page-header {
    display: flex;
    align-items: center;
    margin: 20px;
}

.page-header h1 {
    height: 40px;
    margin: 0;
}

.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--cardbg);
  color: var(--text-color);
  border-color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:hover {
  background-color: var(--button-bg-hover);
  color: var(--cardbg);
  border-color: var(--cardbg);
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
  }

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  nav,
  .header-logo-container {
    margin: 10px 0;
    padding: 0 15px;
  }

  nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 55px);
  }

  header {
    padding: 20px 20px 0 20px;
    width: 100vw;
    max-width: 1920px;
    top: 20px;
    border-bottom: none;
  }

  nav,
  .header-logo-container {
    margin: 0;
  }

  nav {
    margin-left: auto;
  }
}